.editorApp {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.editorApp-editor,
.editorApp-frontend {
    width: 50%;
    min-height: 100%;
    padding: 1em;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.editorApp-editor {
    float: left;
    box-shadow: 0 0 10px 0 lightslategray;
}

.editorApp-frontend {
    margin-left: 50%;
}